* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navBar {
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
}

.userIcon {
    width: 100px;
    height: auto;
}

.loginImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: auto;
    margin: 0 auto;
    background-color: aquamarine;
}

.login {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    padding-top: 20px;
}

.generatedText {
    font-size: 8vw;
    font-weight: 600;
    margin-top: 45px;
    text-align: center;
    line-height: 45px;
}

.loginButton {
    width: 60vw;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 55px;
    margin-bottom: 50px;
}

.buttonDiv {
    margin: 0 auto;
}